# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  branches:
    include:
    - master

pr:
  branches:
    include:
    - master

pool:
  vmImage: ubuntu-latest
- task: SonarCloudPrepare@1
  inputs:
    SonarCloud: 'SonarCloudBakeryShop'
    organization: '210726-wvu-net-ext'
    scannerMode: 'MSBuild'
    projectKey: '210726-wvu-net-ext_P1-Yuriy-Yarytskyy_1'
    projectName: '210726-wvu-net-ext_P1-Yuriy-Yarytskyy_1'

variables: #Path to folder with .sln
  solution: BakeryShop.WebApp

stages: 
- stage: build
  jobs:
  - job: build
    
    steps:

    - script: dotnet build --configuration Release
      displayName: dotnet build
      workingDirectory: $(solution)

    - script: dotnet test --configuration Release
      displayName: dotnet test
      workingDirectory: $(solution)
    

